{%extends "curriculum/base.html" %}
{% block mainbody %}
    <div id="tt" class="easyui-tabs" style="width:100%;height:100%;">
    	<div title="班级表" style="padding:20px;">
    		<img src="/static/img/sj/7.jpg">
    	</div>
    	<div title="教师表" style="padding:20px;">
    		<img src="/static/img/sj/9.jpg">
    	</div>
    	<div title="总课程表" style="padding:20px;">
    		<img src="/static/img/sj/5.jpg">
    	</div>
    	<div title="总任课表" style="padding:20px;">
    		<img src="/static/img/sj/6.jpg">
    	</div>
    	<div title="场室表" style="padding:20px;">
    		<img src="/static/img/sj/8.jpg">
    	</div>
    </div>
{% endblock %}
