{%extends "curriculum/base.html" %}
{% block mainbody %}

    		<img src="/static/img/sj/11.jpg">
<table border="1px" style="width:80%">
  <tr><td>学校班级活动场地个数</td><td><input value=""/></td></tr>
  <tr><td>篮球场个数</td><td><input value=""/></td></tr>
  <tr><td>足球场个数</td><td><input value=""/></td></tr>
  <tr><td>排球场个数</td><td><input value=""/></td></tr>
  <tr><td>计算机教室间数</td><td><input value=""/></td></tr>
  <tr><td>物理实验室间数</td><td><input value=""/></td></tr>
  <tr><td>化学实验室间数</td><td><input value=""/></td></tr>
  <tr><td>生物实验室间数</td><td><input value=""/></td></tr>
  <tr><td>合班教室间数</td><td><input value=""/></td></tr>

</table>
{{dic}}

{% endblock %}
